td,
th,
table {
  color: $black;
}

.table thead th {
  border-bottom: none;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $gray-6;
}

.table-bordered {
  border: none;
}

.table-datagrid {
  background-color: #fff;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  font-size: 0.95rem;

  th,
  td {
    // padding: 0.4rem 0.6rem 0.4rem;
    padding: 0.2rem 0.4rem;
    white-space: nowrap;
  }

  tr:hover {
    td {
      background-color: #ebebf0 !important;
    }
  }
}

.table-no-wrap {
  font-size: 0.9rem;
  th,
  td {
    white-space: nowrap;
  }
}

.datagrid {
  thead {
    &.sort {
      cursor: pointer;
    }
    // background-color: lighten($blue, 45%);
    background-color: $gray-6;
    th {
      &:last-child {
        padding-right: 0.75rem;
      }
    }
  }

  tfoot {
    background-color: $gray-6;
  }

  tr:hover {
    td {
      background-color: #f8f8f8 !important;
    }
  }

  .datagrid-select {
    padding-left: 0.75rem;
    padding-right: 0.25rem;
  }

  font-size: 0.95rem;
}

.table-sort {
  padding-left: 0.25rem;
  float: right;
  color: $blue;
  cursor: pointer;
}

.datagrid-container {
  display: block;
  overflow-y: auto;
  .table {
    margin-bottom: 0;
  }
  margin-bottom: 1rem;
}
